.map-body{
  height :100%;
}

.map-container {
  height: calc(100% - 64px);
  margin-bottom: 0;
}

.detail-sidebar{
  padding: 0px !important;
}

.detail-sidebar__card{
  margin: 0px;
  box-shadow: none;
}

.detail-map{
  height: 100%;
  padding: 0px !important;
}

#map{
  min-height: 100%;
  height: 100%;
  width: 100%;
}
